server:
  port: 9090

spring:
  datasource:
    url: jdbc:postgresql://db:5432/tfg_db
    username: tfg_user
    password: tfg_pass
  jpa:
    hibernate:
      ddl-auto: validate
  ai:
    ollama:
      base-url: http://ollama:11434
      chat:
        options:
          model: llama3.2:3b
          temperature: 0.1

management:
  endpoints:
    web:
      exposure:
        include: health,info
