:root {
    --bg-color: #212121;
    --card-bg: #212121;
    --text-color: #ffffff;
    --label-color: #9e9e9e;
    --shadow-dark: #161616;
    --shadow-light: #2c2c2c;
}

[data-theme="light"] {
    --bg-color: #f5f5f5;
    --card-bg: #ffffff;
    --text-color: #212121;
    --label-color: #616161;
    --shadow-dark: #cfcfcf;
    --shadow-light: #ffffff;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
